

.art{
    text-decoration: none;
}
nav li{
    list-style: none;
    margin-right: 10px;
    display: flex;
    display: inline;
    list-style: none;
    text-decoration: none;
}
nav a{
    text-decoration: none;
    color: rgb(24, 23, 23);
}

.nav-title{
    font-size: 45px;
    font-weight: 800;
    font-style: normal;
}
.txt-primary{
    color:	#FF4433;
}
.btn-primary{
    color:white;
    background-color:#ed3d2d;

    border: 0px;
    padding: 5px 10px 5px 10px ;


    border-color: none;
}
.btn-primary:hover {
    background-color: #FF4433; /* Changes to a lighter shade on hover */
    cursor: pointer;          /* Changes the cursor to a pointer */
    transform: scale(1.05);   /* Slightly enlarges the button */
    transition: 0.3s ease;    /* Smooth transition effect */
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.beader {
   background-color: #2e86de;
   margin:0px 0px 0px 0px ;
   padding: 10px 10px 0px 10px;

}
.banner{
    display: flex;
}
